/* ------------------ MENU --------------------*/

/* body */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  body{
   font-family: 'Lora', serif;
   background-color: #FFFFFF ;
  }

.menu{
    /* hide menubar */
    z-index: 1;
    position: fixed; 
    width: 100%;
    border: 2px solid #101010	;
    background-color: #101010	; 
    height: 56px;
  }
   
  .flo-l{
    float: left;
  }

  .logo {
    width: 10%;
    padding-left: 8%;
  }
   
  .menu-ul{
    width: 10%;
  }
   
  .link-btn {
    text-decoration: none;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
  }

  .menu-bar{
    padding-left: 58%;
    margin-top: 17px;
  }

  .menu-bar li{
    list-style-type: none;
    display: inline;
    margin-left: 125%;
  }

  .btn{
    text-decoration: none;
     border: none;
     outline: none;
     color: black;
     font-weight: 700;
     border-radius: 30px;
     font-size: 17px;
     padding: 14px 29px;
   }
   .btn-click{
    background: white;
   }
   .btn-read{
     color: white;
     background-color: black;
   }

  @media only screen and (max-width:950px) {
    .logo img{
      width: 90px;
    }

    /* black menu bar */
    .menu{
      height: 48px;
    }

    .link-btn {
      font-size: 11.5px;
    }

    .menu-bar{
      padding-left: 39%;
      margin-top: 12px;
    }

    .btn{
      font-size: 13.5px;
      padding: 11px 20px;
    }
  }

  @media only screen and (max-width:600px) {
    .logo img{
      width: 80px;
    }

    /* black menu bar */
    .menu{
      height: 40px;
    }

    .link-btn {
      font-size: 10px;
    }

    .menu-bar{
      padding-left: 36%;
      margin-top: 9px;
    }

    .btn{
      font-size: 10px;
      padding: 9px 15px;
    }
  }